.image-box1{
    padding:20px;
    /* border-radius: 30px; */
}

.image-box-internal{
    border-radius: 25px;
}

.adde1{
    border-radius: 25px;
}

.location1{
    text-align: center;;
}